.zooming  {
  transition: transform 1s ease-in-out;
  -webkit-transition: scale(2, 2) translate(50%, 100px);
  -moz-transition: scale(2, 2) translate(50%, 100px);
  -o-transition: scale(2, 2) translate(50%, 100px);

}

.zooming.zoom{
  transform: scale(1, 1) translate(0, 0);
  transform-origin: center center;
  transform-style: preserve-3d;
  position: fixed;
  width: 90%;
}