.tbody{
  display: block;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media  (max-width: 576px) {
  .tbody{
    max-height: 63vh;
  }
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}