.mt-30{
  margin-top: 30% !important;
}

.w-30{
  width: 30% !important;
}

.w-50{
  width: 50% !important;
}

.h-100px{
  height: 100px;
}
.w-100px{
  width: 100px;
}
.w-25px{
  width: 25px;
}

.w-200px{
  width: 200px;
}

.min-height-60 {
  min-height: 60px;
}

.overflow-x-hidden {
  overflow-x: hidden!important;
}

.overflow-y-hidden {
  overflow-y: hidden!important;
}

.margin-auto{
  margin: auto;
}

.pos-fixed {
  position: fixed;
}

.svg-center {
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-right {
  margin: 0 auto;
  position: relative;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.svg-left {
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.white{
  color: white;
}

.red{
  color: red;
}

.d-block{
  display: block!important;
}

.d-none{
  display: none!important;
}