.card-3d {
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -o-transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: right left;
  cursor: pointer;
  position: relative;
  width: 40vw;
  height: 40vh;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.card-full-screen {
  width: 80vw;
  height: 70vh;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {}

.back {
  position: absolute;
  transform: rotateY( 180deg );
}

.card-3d.is-flipped.left {
  transform: rotateY(-180deg) translateX(0%);
}

.card-3d.is-flipped.right {
  transform: rotateY(-180deg) translateX(50%);
}


.image-background {
  max-width: 30vw;
  max-height: 30vh;
  object-fit: contain;
}